
.headers {
    width: 100vw;
    background-color: orange;
    height: 200px;
   
}
.contenedorheaders {
    display: flex;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    justify-content: space-between;
    height: 200px;
}
.logo {
    width: 150px;
    border-radius: 200px;
    align-self: center;
    justify-self: center;
}
.bodyhome {
    background-image: url("../img/fondo2.jpeg");
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
.buscador {
    align-self: flex-start;
    justify-self: flex-end;
    display: flex;
    margin-top: 2.5vh;
}
.contenedorimg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.tituloseccion {
    width: 95vw;
    margin-top: 70px;
    margin-bottom: 20px;
}
.mainhome {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
.contenedordiscos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.cancionhija {
    max-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(84, 175, 175);
    border: solid greenyellow 3px;
    height: 360px;
    border-radius: 10px;
}
.cancionimg {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    align-self: center;
}
.nombreartista {
    font-size: 30px;
    align-self: center ;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
}
.nombrealbum {
    font-size: 14px;
    align-self: center;
    margin-top: 5px;
    text-decoration: none;
    color: white;
}
.descripcion {
    font-size: 10px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.paginas {
    
    align-self: center;
    text-decoration: none;
    justify-content: space-between;
}
.paginasindiv {
    text-decoration: none;
    color: white;
    margin-left: 8px;
}
.albumhija {
    background-color: rgb(84, 175, 175);
    max-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid greenyellow 3px;
    height: 360px;
    border-radius: 10px;
}
.contenedoralbumes {
    display: flex;
    justify-content: space-between;
}

.artistaimg {
    max-width: 200px;
    height: 200px;
    margin-top: 10px;
    align-self: center;
}
.artistahija {
    background-color: rgb(84, 175, 175);
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid greenyellow 3px;
    height: 360px;
    border-radius: 10px;
}
.nombrebanda {
    margin-top: 55px;
    font-size: 30px;
    align-self: center ;
    text-decoration: none;
    color: white;
}
.contenedorartistas{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
}
.footers {
    background-color: orange;
    height: 100px;
}
.contenedornombres{
    display: flex;
    justify-content: space-evenly;
}
.resultadoscoincide {
    text-decoration: none;
    color: white;
    margin-top: 20px;
    text-align: center;
}
.leyendabusqueda {
    font-size: 30px;
    margin-top: 70px;
    text-align: center;
    font-weight: bold;
}
.titulosearch {
    margin-top: 50px;
    text-align: center;
}
.mainsearch {
    height: 56vh;
}