
.headers {
    width: 100vw;
    background-color: orange;
    height: 200px;
   
}
.contenedorheaders {
    display: flex;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    justify-content: space-between;
    height: 200px;
}
.logo {
    width: 150px;
    border-radius: 200px;
    align-self: center;
    justify-self: center;
}
.bodyhome {
    background-image: url("../img/fondo2.jpeg");
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-size: cover;
}
.buscador {
    align-self: flex-start;
    justify-self: flex-end;
    display: flex;
    margin-top: 2.5vh;
}
.contenedorimg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.tituloseccion {
    width: 95vw;
    margin-top: 70px;
    margin-bottom: 20px;
}
.mainhome {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
.contenedordiscos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.cancionhija {
    max-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(84, 175, 175);
    border: solid greenyellow 3px;
    height: 360px;
    border-radius: 10px;
}
.cancionimg {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    align-self: center;
}
.nombreartista {
    font-size: 30px;
    align-self: center ;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
}
.nombrealbum {
    font-size: 14px;
    align-self: center;
    margin-top: 5px;
    text-decoration: none;
    color: white;
}
.descripcion {
    font-size: 10px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.paginas {
    
    align-self: center;
    text-decoration: none;
    justify-content: space-between;
}
.paginasindiv {
    text-decoration: none;
    color: white;
    margin-left: 8px;
}
.albumhija {
    background-color: rgb(84, 175, 175);
    max-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid greenyellow 3px;
    height: 360px;
    border-radius: 10px;
}
.contenedoralbumes {
    display: flex;
    justify-content: space-between;
}






































































































































































































































































.headerscanciones {
    width: 100vw;
    background-color: rgb(162, 0, 255);
    height: 200px;
   
}
.footerscanciones {
    background-color: rgb(162, 0, 255);
    height: 100px;
}
.bodycanciones {
    background-image: url("../img/cosmos.jpg");
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
.artistahija2 {
    max-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(207, 43, 31, 40%);
    border: solid white 3px;
    border-radius: 50%;
}
.artistaimg1 {
    max-width: 200px;
    height: 200px;
    margin: 10px;
    align-self: center;
    border-radius: 50%;
    
}
.contenedorartista {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.ordencajas {
    display: flex;
    flex-direction: column;
}
.artistanomdesc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(207, 43, 31, 40%);
    border: solid white 3px;
    padding-bottom: 10px;
    border-radius: 50px;
    margin-top: 10px;
}

.tituloseccionmaroonv {
    width: 95vw;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}